.note {
    background: #E6E6E6;
    width: 550px;
    height: 570px;
    border-radius: 10px;
    margin-top: 15%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.logo {
    padding-top: 35px;
    padding-bottom: 15px;
}

.setting {
    padding-bottom: 15px;
}

.pl {
    width: 200px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 4px 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-left: 13px;
}

.pl:focus {
    /* border: 1px solid #9B51E0; */
    box-sizing: border-box;
    border-radius: 10px;
    /* outline: 3px solid #F8E4FF; */
    border-radius: 4px;
}

.r_btn {
    float: right;
}